label {
    display: inline-block;
}

input {
    display: inline-block;
}


#search_view {
    margin: auto;
    width: 100em;
}

#setting_view {
    width: 16em;
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid grey;
    display: none;
}

#setting_view div {
    width: 16em;
    padding: 3px;
}

#setting_view div.setting {
    margin-top: 15px;
    text-align: center;
}

#setting_view label {
    width: 8em;
    cursor: pointer;
    position: relative;
}

#setting_view input {
    width: 4em;
    text-align: right;
}

